
// Toolbar wrapper and content
.rv-mapnav-elevation-content {

  &.hidden {
    display: none !important;
  }

  .rv-elevation-button {
    margin: 0px!important;
  }

  .rv-control-active {
    background-color: rgba(200, 200, 200, 0.5);
    clip-path: circle(12px at center);
  }

  .rv-control-active > md-icon {
    color: #000;
  }

}

// Dialog
#elevationInfoPanel {

  display: flex;
  flex: 1;
  width: 90%;
  max-width: 700px;
  height: 500px;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  margin: 0;

  &.rv-elevation-dialog-hidden {
    visibility: hidden;
  }

  &.draggable {

    &.is-dragging {
      border: dashed 3px #aaa;
      background-color: rgba(255,255,255,0.3) !important;
      box-shadow: none !important;

      .rv-header {
        opacity: 0.1;
      }

      .panel-body {
        opacity: 0.1;
      }

    }

    .rv-header {
      cursor: move;

      header {
        padding-left: 12px;
      }

    }

  }

  .panel-body {
    display: flex;
    flex-direction: column;
    position: relative;
    // padding: 0 !important;
    // margin-right: 10px !important;
    overflow-y: hidden;
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: hidden;
  }

  .toolbar {

    display: flex;
    flex: 0;
    flex-direction: row;
    padding: 10px 15px 8px !important;
    justify-content: space-between;

    md-switch {
      margin: 0;
    }

    .menubar {
      flex: 0;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      // padding-right: 15px;
    }

  }

  .content {

    // border: solid 1px blue;
    justify-content: center;
    align-items: center;
    // padding: 0 8px 8px !important;
    display: flex;
    flex: 1;

    .rv-elevation-infopanel-chart {

      align-self: stretch;
      flex: 1;
      margin: 0px 15px 15px 15px;
      background-color: #eee;

      &.disabled {
        opacity: 0.3;
      }

    }

    .rv-elevation-infopanel-statistics-table {

      flex: 1;
      align-self: stretch;
      margin: 0px 5px 15px 15px;
      justify-content: center;
      align-items: center;

      &.disabled {
        opacity: 0.3;
      }

      table.md-table {

        margin-bottom: 18px;
        background-color: #eee;

        thead.md-head {

          background-color: rgba(217,205,229, 0.5);

          tr.md-row {
            height: 40px;
          }

          th.md-column {
            color: #6A50A3;
            border-bottom: solid 1px #6A50A3;

            &:first-child {
              padding: 0 18px
            }

            &:last-child {
              padding: 0 18px 0 0
            }
          }

        }

        tbody.md-body {

          tr.md-row {
            height: 36px;
          }

          td.md-cell {
            // color: #6A50A3;
            border-top: none !important;

            &:first-child {
              padding: 0 18px
            }

            &:last-child {
              padding: 0 18px 0 0
            }
          }

        }

      }

    }

    #rv-elevation-retry-btn {
      position: absolute;
    }

  }

  md-progress-linear {

    position: absolute;
    top: 0;
    bottom: initial;
    left: 0;
    right: 0;
    height: 2px;

    .md-container {
      height: 2px;
    }

  }

}

.rv-elevation-step-menu {

  min-width: 180px !important;

  .md-button md-icon {
    margin: auto;
  }

}

.rv-elevation-stats-source-menu {

  // min-width: 240px !important;

  .md-button md-icon {
    margin: auto;
  }

}

.rv-elevation-dialog-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  right: 0px !important;
  padding: 10px;
  bottom: 0px;

  &::before {
    background: rgba(0, 0, 0, 0.1) !important;
  }

}

// HACK : this should be set in RV main stylesheet
rv-mapnav {

  span.rv-spacer:last-child {
    flex: 0 0 30px !important;
  }

}