
// Toolbar wrapper and content
.rv-mapnav-elevation-content {

  &.hidden {
    display: none !important;
  }

  .rv-elevation-button {
    margin: 0px!important;
  }

  .rv-control-active {
    background-color: rgba(200, 200, 200, 0.5);
    clip-path: circle(12px at center);
  }

  .rv-control-active > md-icon {
    color: #000;
  }

}

// Info Tip Panel
#elevationInfoTipPanel {

  display: flex;
  flex: 1;

  ul {
    padding-inline-start: 20px;
  }

  p {
    padding: 0;
  }

  .panel-body {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: hidden;
  }

  .content {
    justify-content: center;
    display: flex;
    flex: 1;
    overflow-y: auto;
    margin: 15px;
  }

  .footer {

    display: flex;
    flex: 0;
    justify-content: flex-start;
    margin: 0px 10px 0px 10px;

    button {
      width: 100%;
    }

  }

}

// Info Panel
#elevationInfoPanel {

  display: flex;
  flex: 1;
  width: 90%;

  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  margin: 0;

  top: 50%;
  left: 50%;

  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

  hr {
    margin: 0px 15px 0px 15px;
    height: 1px;
    border: none;
    background-color: #ccc;
    color: #ccc;
  }

  &.rv-elevation-dialog-small {
    max-width: 500px;
    // height: 200px;
    top: 60%;
    margin-left: -250px;
    // margin-top: -100px;
  }

  &.rv-elevation-dialog-large {
    max-width: 700px;
    // height: 550px;
    margin-left: -350px;
    margin-top: -250px;
  }

  &.rv-elevation-dialog-hidden {
    visibility: hidden;
  }

  &.draggable {

    &.is-dragging {
      border: dashed 3px #aaa;
      background-color: rgba(255,255,255,0.3) !important;
      box-shadow: none !important;

      .rv-header {
        opacity: 0.1;
      }

      .panel-body {
        opacity: 0.1;
      }

    }

    .rv-header {
      cursor: move;

      header {
        padding-left: 12px;
      }

    }

  }

  .panel-body {
    display: flex;
    flex-direction: column;
    position: relative;
    // padding: 0 !important;
    // margin-right: 10px !important;
    overflow-y: hidden;
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: hidden;
  }

  .toolbar {

    display: flex;
    flex: 0;
    flex-direction: row;
    padding: 10px 15px 8px !important;
    justify-content: space-between;

    md-switch {
      margin: 0;
    }

    .menubar {
      flex: 0;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      // padding-right: 15px;
    }

  }

  .content {

    // border: solid 1px blue;
    // justify-content: center;
    align-items: center;
    // padding: 0 8px 8px !important;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 400px;

    label {
      font-weight: 500;
      font-size: 14px;
    }

    .rv-elevation-infopanel-chart {

      align-self: stretch;
      flex: 1;
      margin: 0px 15px 5px 15px;
      background-color: #eee;
      // overflow-y: hidden;
      // height: 400px;

      &.disabled {
        opacity: 0.3;
      }

    }

    .rv-elevation-infopanel-statistics-table {

      flex: 1;
      align-self: stretch;
      margin: 0px 5px 5px 15px;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      // height: 400px;

      &.disabled {
        opacity: 0.3;
      }

      table.md-table {

        margin-bottom: 0px;
        background-color: #eee;

        thead.md-head {

          background-color: rgba(217,205,229, 0.5);

          tr.md-row {
            height: 40px;
          }

          th.md-column {
            color: #6A50A3;
            border-bottom: solid 1px #6A50A3;

            &:first-child {
              padding: 0 18px
            }

            &:last-child {
              padding: 0 18px 0 0
            }
          }

        }

        tbody.md-body {

          tr.md-row {
            height: 36px;
          }

          td.md-cell {
            // color: #6A50A3;
            border-top: none !important;

            &:first-child {
              padding: 0 18px
            }

            &:last-child {
              padding: 0 18px 0 0
            }
          }

        }

      }

    }

    #rv-elevation-retry-btn {

      position: absolute;

      &.disabled {
        opacity: 0.4;
      }

    }

  }

  md-progress-linear {

    position: absolute;
    top: 0;
    bottom: initial;
    left: 0;
    right: 0;
    height: 2px;

    .md-container {
      height: 2px;
    }

  }

}

.rv-elevation-step-menu {

  min-width: 180px !important;

  .md-button md-icon {
    margin: auto;
  }

}

.rv-elevation-stats-source-menu {

  // min-width: 240px !important;

  .md-button md-icon {
    margin: auto;
  }

}

.rv-elevation-dialog-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  right: 0px !important;
  padding: 10px;
  bottom: 0px;

  &::before {
    background: rgba(0, 0, 0, 0.1) !important;
  }

}

.rv-elevation-retry-btn-container {
  display: flex; align-items: center; justify-content: center; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(255, 255, 255, 0.9);
}


#rv-elevation-refresh-btn {

  // position: absolute;
  margin: 5px 15px 5px 15px;
  padding: 0 10px 0 10px;

  &.disabled {
    opacity: 0.4;
  }

}

// HACK : this should be set in RV main stylesheet
rv-mapnav {

  span.rv-spacer:last-child {
    flex: 0 0 30px !important;
  }

}
